@use "@e3m-io/css-utils/globals/reset";
@use "@e3m-io/css-utils/dist/index.css";

@use "@e3m-io/css-ds/themes/light" as lightTheme;
@use "@e3m-io/css-ds/themes/dark" as darkTheme;

@import "@fortawesome/fontawesome-free/css/all.css";

:root {
	background-color: var(--bg--sunken);
	color: var(--color--sunken);
	font-family: system-ui;
	font-size: var(--text-size--base);
}

.theme-light {
	@include lightTheme.theme();
}

.theme-dark {
	@include darkTheme.theme();
}
