@use "@e3m-io/css-utils/globals/reset";
@use "@e3m-io/css-utils/dist/index.css";

@use "@e3m-io/css-ds/themes/light" as lightTheme;
@use "@e3m-io/css-ds/themes/dark" as darkTheme;

@import "@fortawesome/fontawesome-free/css/all.css";

:root {
	font-family: system-ui;
	font-size: var(--text-size--base);
}

.theme-light {
	@include lightTheme.theme();
}

.theme-dark {
	@include darkTheme.theme();
}

.border-box {
	box-sizing: border-box;
}

:root {
	height: 100%;
	overflow: hidden;
}

.sb-show-main {
	height: 100%;
	padding: 0 !important;
}

#storybook-root {
	height: 100%;
	overflow: hidden;
}
